[
  {
    "enabled": false,
    "hideIfActive": true,
    "keyCode": 49,
    "modifierFlags": 1179648,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 0,
    "url": "/Clipboard.clipboard"
  },
  {
    "bookmark": "Ym9vaywCAAAAAAQQMAAAAPYPq6RNJsk6s5y8Vok28JjYbVg60BnL+tNRYzbp3CjaTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIQg4AAAAAAAgAAAAEAwAAYzgHAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxZh+6QAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcWWTsiAAAAkAAAAAQEAAEQ0NUFCNzA0LTA5MUEtNDgzRC1CN0I0LTgyMDEzOThGNTgzMhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 36,
    "modifierFlags": 262401,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 1,
    "url": "/Applications/iTerm.app"
  },
  {
    "bookmark": "Ym9vazACAAAAAAQQMAAAAMsH8E83jDq+pSF9RVZuXMWl1enxdtHOztRu9LSIn6vRUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABLYWthb1RhbGsuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiEIOAAAAAAAIAAAABAMAAOT3BwAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcWYGiKAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHFlk7IgAAAJAAAAAEBAABENDVBQjcwNC0wOTFBLTQ4M0QtQjdCNC04MjAxMzk4RjU4MzIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 18,
    "modifierFlags": 401668,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 2,
    "url": "/Applications/KakaoTalk.app"
  },
  {
    "bookmark": "Ym9vaywCAAAAAAQQMAAAAD7+AvLXQLcv0JAVncdHWZJU14IXq6SVOt04NqN2qhDETAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIQg4AAAAAAAgAAAAEAwAANyoHAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxZpyHoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcWWTsiAAAAkAAAAAQEAAEQ0NUFCNzA0LTA5MUEtNDgzRC1CN0I0LTgyMDEzOThGNTgzMhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 19,
    "modifierFlags": 401668,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 3,
    "url": "/Applications/Slack.app"
  },
  {
    "bookmark": "Ym9vaywCAAAAAAQQMAAAAAJFgnuHnIbzGB+I0o4rjF9ySAObIaW4/6VUvQBaGHGBTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABOb3Rpb24uYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACK7jcAAAAAAAgAAAAEAwAAVildAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxcHw6gAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkCBodAAAAAgAAAAABAAAQcWoBYCAAAAkAAAAAQEAADQ1Mzc2NkVDLTc1NkEtNDAxRi05QTExLThBOTlGRUJCRUE1OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 20,
    "modifierFlags": 401668,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 4,
    "url": "/Applications/Notion.app"
  },
  {
    "bookmark": "Ym9va1gCAAAAAAQQMAAAAK/1xFa1NQOzCh4GMeWLiUujJwe+wiE6kfmBrdJ7diKCeAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zBgAAAAEBAABTZXRhcHAAAA0AAAABAQAAVGFibGVQbHVzLmFwcAAAAAwAAAABBgAAEAAAACQAAAA0AAAACAAAAAQDAACIQg4AAAAAAAgAAAAEAwAA9O0qAAAAAAAIAAAABAMAAPn4fQAAAAAADAAAAAEGAABgAAAAcAAAAIAAAAAIAAAAAAQAAEHFs6gRAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABBxZZOyIAAACQAAAABAQAARDQ1QUI3MDQtMDkxQS00ODNELUI3QjQtODIwMTM5OEY1ODMyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAAAAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAAAGQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAAESAAABgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAAgBAAAAAAAAICAAAEQBAAAAAAAAMCAAAHABAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 17,
    "modifierFlags": 401668,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 5,
    "url": "/Applications/Setapp/TablePlus.app"
  },
  {
    "bookmark": "Ym9vazACAAAAAAQQMAAAAOvazFQfHO6O2Hl1hPjgYKAs4g/3G2zx7EVTHOVDARuxUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABwZ0FkbWluIDQuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiEIOAAAAAAAIAAAABAMAANWtBwAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcWUJgqAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHFlk7IgAAAJAAAAAEBAABENDVBQjcwNC0wOTFBLTQ4M0QtQjdCNC04MjAxMzk4RjU4MzIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 15,
    "modifierFlags": 393475,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 6,
    "url": "/Applications/pgAdmin 4.app"
  },
  {
    "bookmark": "Ym9vaygCAAAAAAQQMAAAAGpX8XM4IpgJZjvwSXhoVMBcd9g1V4VOBt/2ySmmps74SAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zBwAAAAEBAABBcmMuYXBwAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAIhCDgAAAAAACAAAAAQDAAAXoQkAAAAAAAgAAAABBgAARAAAAFQAAAAIAAAAAAQAAEHFmgtcgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABBxZZOyIAAACQAAAABAQAARDQ1QUI3MDQtMDkxQS00ODNELUI3QjQtODIwMTM5OEY1ODMyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAAAAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQAAAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 0,
    "modifierFlags": 393475,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 7,
    "url": "/Applications/Arc.app"
  },
  {
    "bookmark": "Ym9vaywCAAAAAAQQMAAAAE2oFt5AoAySgGDLCg/oY+F1bi3WhaIHAhryxoQESncETAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABGaWdtYS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIQg4AAAAAAAgAAAAEAwAAIBIGAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxYIvDgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcWWTsiAAAAkAAAAAQEAAEQ0NUFCNzA0LTA5MUEtNDgzRC1CN0I0LTgyMDEzOThGNTgzMhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 2,
    "modifierFlags": 393475,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 8,
    "url": "/Applications/Figma.app"
  },
  {
    "bookmark": "Ym9vaywCAAAAAAQQMAAAAC8P6sNNJr7jBvB1qbGhFNpu5gcOb38LagYk6DHFYeP6TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACaRwAAAAAAAAgAAAAEAwAAQSYIAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxZPPSoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkCBodAAAAAgAAAAABAAAQcWNhs0AAAAkAAAAAQEAADQ1Mzc2NkVDLTc1NkEtNDAxRi05QTExLThBOTlGRUJCRUE1OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 3,
    "modifierFlags": 401668,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 9,
    "url": "/Applications/Firefox.app"
  },
  {
    "bookmark": "Ym9va1QCAAAAAAQQMAAAAI8v1kWLH/GW3SG1Ew1nBV1mtoel2AmkhIoEN3lETO5NdAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zBgAAAAEBAABTZXRhcHAAAAoAAAABAQAAR2l0Zm94LmFwcAAADAAAAAEGAAAQAAAAJAAAADQAAAAIAAAABAMAAIhCDgAAAAAACAAAAAQDAAD07SoAAAAAAAgAAAAEAwAALVs6AAAAAAAMAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcWjWeaAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHFlk7IgAAAJAAAAAEBAABENDVBQjcwNC0wOTFBLTQ4M0QtQjdCNC04MjAxMzk4RjU4MzIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAYAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAAFAEAAAAAAAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAgIAAAQAEAAAAAAAAwIAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 5,
    "modifierFlags": 401668,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 10,
    "url": "/Applications/Setapp/Gitfox.app"
  },
  {
    "bookmark": "Ym9vaywCAAAAAAQQMAAAACJJQn9wgW+f3n4nHBWze7HzEPutQe5oaWNMOdV7rm73TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABMb2dzZXEuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIQg4AAAAAAAgAAAAEAwAA9PEGAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxZzcwQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcWWTsiAAAAkAAAAAQEAAEQ0NUFCNzA0LTA5MUEtNDgzRC1CN0I0LTgyMDEzOThGNTgzMhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 6,
    "modifierFlags": 393475,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 11,
    "url": "/Applications/Logseq.app"
  },
  {
    "bookmark": "Ym9vazACAAAAAAQQMAAAAJLPuV7egJk8vYQAR4EgwGHpR0H8eOVyH91/S5PwpYHqUAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABCaXR3YXJkZW4uYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAiEIOAAAAAAAIAAAABAMAAPe7CgAAAAAACAAAAAEGAABMAAAAXAAAAAgAAAAABAAAQcWaR2OAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHFlk7IgAAAJAAAAAEBAABENDVBQjcwNC0wOTFBLTQ4M0QtQjdCNC04MjAxMzk4RjU4MzIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQEAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAAAAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAAAAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAAHAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "enabled": true,
    "hideIfActive": true,
    "keyCode": 11,
    "modifierFlags": 393475,
    "openSelectedFiles": true,
    "openSelectedFolders": true,
    "order": 12,
    "url": "/Applications/Bitwarden.app"
  }
]
